body {
  background-color: black;
  /* margin: 0px;
  padding: 0px; */
  /* right: 0;
  left: 0; */
  overflow: hidden;
}
#video-container {
  display: flex;
  background-color: black;
  flex-direction: row;
  margin:0px;
  justify-content: center;
  margin-top: -11vh;
  height: 95vh;
  z-index: 0;
}
#top-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top-logo {
  height: 5rem;
  z-index: 1;
  filter: invert();
  -webkit-filter: invert();
  transition: 0.25s;
  cursor: pointer;
}

#top-logo-text {
  align-self: center;
  z-index: 4;
  cursor: pointer;
}
#top-logo:hover {
  filter: invert(1) drop-shadow(12px 12px 7px rgba(23, 244, 3, 0.5));
}

#top-logo-text:hover {
  filter: drop-shadow(12px 12px 7px rgba(23, 244, 3, 0.5));
}

#nav-bar-container {
  background-color: black;
  color:white;
  display: flex;
  padding-top: 65px;
  justify-content: center;
  left: 0;
  right: 0;
  font-family: sans-serif;
  z-index: 2;
}
#nav-bar-left {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 16vw;
  color: white;
}
#book-session-text {
  z-index: 50;
  color: white;
  text-decoration: underline;
  transition: 0.25ms;
  font-size: large;
}
#book-session-text:hover {
  /* color: rgb(198, 215, 202); */
  text-shadow:
  0 0 3px #ffffff47,
  0 0 5px #ffffff50,
  0 0 10px #ffffff67,
  0 0 20px #0fa,
  0 0 40px #0fa,
  0 0 62px #0fa;
  /* 0 0 102px #0fa,
  0 0 151px #0fa; */
  text-decoration: underline;
  cursor: pointer;
}

#nav-bar-right {
  display: flex;
  flex: 1;
  align-items: center;
  padding-right: 16vw;
  justify-content: center;
}
#nav-right-text-menu {
display: flex;
color: white;
flex: 3;
z-index: 2;
}
#console-button {
display: flex;
/* flex: 1; */
position: relative;
/* height: 35px; */
/* width: 100%; */
align-items: center;
justify-content: center;
border: 2px solid white;

padding: 0.75rem 0.75rem;
border-radius: 5px;
background: black;
/* background: rgb(255, 255, 255); */
/* color: rgb(0, 0,0); */
color:white;
font-weight: bold;
text-decoration: none;
font-size: 16px;
font-weight: bold;
transition: all 0.2s ease-out;
}
#console-button:hover {
background: white;
color: rgb(11, 56, 28);
box-shadow: 0 0 10px 5px rgba(23, 244, 3, 0.5);
border: 2px solid rgba(23, 244, 3, 0.5);
cursor: pointer;
/* background: white; */
}

#video {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 85vw;
}
.notification-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #1ABC9C;
  background-color: #1ABC9C;
  text-align: center;
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
.notification-top-bar p {
  padding: 0;
  margin: 0;
}
.notification-top-bar p a {
  padding: 5px 10px;
  border-radius: 3px;
  background: #FFF;
  color: #1ABC9C;
  font-weight: bold;
  text-decoration: none;
}

.notification-top-bar p a:hover {
  padding: 5px 10px;
  border-radius: 3px;
  background: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

#main-content {
  display: flex;
  padding-top: 100px;
  margin-top: 6%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

#levels-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#level-container {
  /* display: inline-block;
  position: relative; */
  align-items: center;
  justify-content: center;
}

.overlay-text {
  display: absolute;
  color: rgb(0, 0, 0);
  /* position: absolute; */
  /* transform: translate(50%, -750%);  */
  font-size: 15px; 
  /* text-align: right; */
  font-family: sans-serif;
  max-width: 140px;
}

#overlay-text-1 {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  height: inherit;
  transform: translate( 22%, -460% );
  text-align: center;
}

#overlay-text-2 {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  height: inherit;
  transform: translate( 22%, -600% );
  text-align: center;

}

#overlay-text-3 {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  height: inherit;
  transform: translate( 22%, -900% );
  text-align: center;
  /* line-height: 10px; */

}

.level {
  display: block;
  position: relative;
  flex: 1;
}

#level-1 {
  transform: translateX(10px);
  z-index: 3;
}
#level-2{
  z-index: 2;
}
#level-3 {
  transform: translateX(-10px);
}

.level:hover {
  filter: contrast(150%) drop-shadow(1px 1px 7px rgba(23, 244, 3, 0.5));
  flex: 3;
}

/* #bottom-fog {
  position: absolute;
  background-image: linear-gradient(transparent, transparent, black);
  width: 100vw;
  left: 0%;
  bottom: 0%;
  top: 70%;
  z-index: 4;

} */